.container {
  padding: 16px;
  border-bottom: 1px solid rgb(229, 231, 235);
  display: flex;
  justify-content: space-between;
}

.btn-icon {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: transparent;

  min-width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn-icon:hover {
  background-color: #f4f4f5;
}

.btn-click {
  background-color: #f4f4f5;
}

.btn-icon:not(:nth-child(1)) {
  margin-left: 8px;
}
