.container {
  background-color: rgb(243, 244, 246);
  padding: 16px;
  height: 100%;
  max-width: 243px;

  flex: 1 2;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
}

.document-section {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.document-ul {
  width: fit-content;
}

.document-li {
  width: fit-content;
  margin-bottom: 6px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;

  list-style: none;
  color: rgb(55, 65, 81);
  font-size: 0.875rem;
}
